* {
    box-sizing: border-box;
}

.content {
    max-width: 1920px;
    min-height: 5900px;
    margin: 0 auto;
    background: #fff;
}

.main {
    width: 60.42%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 147px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 44px;
}

.main__title {
    text-transform: uppercase;
    font-size: 52px;
    line-height: 63.96px;
    width: 100%;
    height: 64px;
    text-align: center;
    font-weight: 500;
    color: #02B4BE;
}

.description {
    display: flex;
    justify-content: center;
    width: 803px;
    padding: 0 5px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    color: #2F3E53;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.description p {
    margin: 0;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
}

.contact-us__container-social {
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
    height: 90px;
    padding: 10px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.container-social-item {
   display: flex;
   align-items: center;
   width: 360px;
   height: 60px;
   border-radius: 20px;
   background-color: #15D1D9;
   color: #fff;
   padding: 18px 0;
   cursor: pointer;
   transition: background-color 400ms ease; 
} 

.container-social-item:hover {
    background-color: rgba(26, 13, 68, 0.8);
}

.container-social-item p {
   width: 250px;
   height: 24px;
   line-height: 25px;
   font-size: 24px;
   font-weight: 900;
   margin-left: 50px;
}

.social-contacts {
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
    height: 90px;
    padding: 10px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.social-contacts__item {
    display: flex;
    align-items: center; 
    width: 360px;
    height: 60px;
    border-radius: 20px;
    background-color: #15D1D9;
    color: #fff;
    padding: 18px 0;
    cursor: pointer;
    transition: background-color 400ms ease;
}

.social-contacts__item:hover {
    background-color: rgba(26, 13, 68, 0.8);
}

.social-contacts__item p {
    width: 250px;
    height: 24px;
    line-height: 25px;
    font-size: 24px;
    font-weight: 900;
    margin-left: 50px;
}

.social-contacts__item-text { 
    font-weight: 400;
}

.text {
    font-weight: 400;
}

.photo {
    max-width: 1863px;
    min-height: 4100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.photo__container {
    width: 906px;
    height: 100%;
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
}

.photo img {
    border-radius: 8px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.photo img:hover {
  transform: scale(1.02);
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
} 

.contact-us {
    margin-top: 0;
    width: 100%;
    height: 1483px;
    display: flex;
}

.contact-us__container {
    width: 1160px;
    height: 100%;
}

.contact-us__container-top {
    width: 100%;
    height: 425px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 110px 0;
}

.contact-us__container-top-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-us__container-top-p {
    width: 923px;
    padding: 0 70px;
    margin: 0;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
}

.contact-us__discount {
    width: 1160px;
    height: 403px;
}

.contact-us__discount img {
    width: 100%;
}

.contact-us__container-bottom {
    height: 615px;
    margin-top: 40px;
    display: flex;
}

.contact-us__container-bottom-img {
    width: 700px;
}

.form {
    margin-top: 30px;
    width: 100%;
    height: 585px;
}

.form__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: visible;
    align-items: center;
}

.form__content-p {
    padding: 0;
    width: 120%;
    margin-left: -50px;
    text-align: center;
    color: #15D1D9;
    font-family: "Stengazeta";
    font-size: 24px;
    line-height: 26px;
    font-weight: 600; 
    text-transform: uppercase;   
}

form {
    margin-top: 30px;
    width: 400px;
    height: 290px; 
    padding: 20px 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);;  
     
}

form p  {
    height: 27px;
    padding: 0;
    margin: 0;
    font-size: 24px; 
    font-weight: 900;
    font-family: "Roboto";
    color: #15D1D9; 
}

.form-container {
    color: #747474;
    width: 359px;
    height: 135px;
    display: flex;
    flex-direction: column; 
    justify-content: space-around; 
    align-items: flex-start; 
    box-sizing: border-box; 
    margin: 0;
}

.form-container label {
    color: black;
    font-weight: 500;
    font-size: 15px; 
    margin-bottom: 5px;    
}

.form-container input {
    font-size: 17px;
    width: 340px;
    height: 40px;
    padding: 12px 16px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 10px; 
    box-sizing: border-box; 
    border-radius: 4px; 
}

.form-container input:last-of-type {
    margin-bottom: 0; 
}
 
.btn {
   width: 340px;
   height: 44px;
   font-size: 20px;
   border-radius: 6px;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #BEFCFF;
   color: #15D1D9;
   border: 1px solid #15D1D9;
   cursor: pointer;
   font-weight: 500;
   transition: background-color 300ms ease;
}

.btn:hover {
    background-color: #15D1D9;
    color: #fff;
}



@media screen and (max-width: 1800px) {
  .content {
    width: 1800px;
  }

}












